<div id="masthead">

  <a href="{{ site.baseurl }}">
    <img id="photo" src="{{ site.baseurl }}assets/img/osv1.png" alt="Osvaldo Mwanalezi" />
  </a>

  <h1 class="sitetitle">
    <a href="{{ site.baseurl }}" class="sitetitle">{{ site.name }}</a>
  </h1>
  <p class="description">Passionate Programmer</p>

  <ul id="pagenav">
    <li><a href="{{ site.baseurl }}blog">All</a></li>
    <li><a href="{{ site.baseurl }}web">Web</a></li>
    <li><a href="{{ site.baseurl }}dev">Dev</a></li>
    <li><a href="{{ site.baseurl }}tech">Tech</a></li>
    <li><a href="{{ site.baseurl }}sysadmin">Sys</a></li>
    
  <!--  <li><a href="{{ site.baseurl }}talks">Talks</a></li>
    <li><a href="{{ site.baseurl }}projects">Projects</a></li>-->
  </ul>

</div> <!--/masthead-->